
body{
  background-color: #e4e2e2;
}
 
 #wrapper {
   overflow-x: hidden;
 }

 .profile {
   margin-top: 1rem;
   margin-bottom: 2rem;
 }

 .profile img {
   height: 12rem;
 }

 .avatar {
   height: 2rem;
 }

 .sidebar-heading{
   font-family:'Rowdies',sans-serif;
   color:#fff;
   font-size: 2.5em !important;
 }

 

 #sidebar-wrapper {
   min-height: 100vh;
   margin-left: -15rem;
   transition: margin .25s ease-out;
   background-color:#77050f;
 }

 #sidebar-wrapper .sidebar-heading {
   padding: 0.875rem 1.25rem;
   font-size: 1.2rem;
 }

 #sidebar-wrapper .list-group {
   width: 15rem;
 }

 #page-content-wrapper {
   min-width: 100vw;
 }

 #wrapper.toggled #sidebar-wrapper {
   margin-left: 0;
 }

 @media (min-width: 768px) {
   #sidebar-wrapper {
     margin-left: 0;
   }

   #page-content-wrapper {
     min-width: 0;
     width: 100%;
   }

   #wrapper.toggled #sidebar-wrapper {
     margin-left: -15rem;
   }
 }


 .dashboard-content{
   font-family: 'Open Sans',sans-serif;
   margin:0 auto;
   margin-top:5vh;
   padding:5vh 0vh;
   display: flex;
   flex-direction: row;
   background-color:white;
   border-radius:10px;
   min-height:80vh;
   min-width:80%;
   word-wrap:break-word;
   overflow:hidden;
   box-shadow:0px 0px 8px -2px rgba(0, 0, 0, 0.281);
 }

 .content-info{
   margin-top:5vh;
 }
 

 .content-type{
   margin:none;
   padding:2vh 0vh;
   border-width:30%;
   font-family:'Merriweather',sans-serif;
 }

.content-type-details{
  font-weight:bold;
  font-size:2rem;
}

 .welcome-heading{
  font-family:'Merriweather',sans-serif;
  font-size: 4rem;
  letter-spacing:1px;
  text-align:center !important;
 }

 .add_btn{
   margin-top:1vh;
 }


.list-group-item{
  background-color: #77050f
}

.list-group-item:hover{
  background-color:#7c131c
}

.recipe-container {
  background-color: white;
  min-height: 85vh;
  margin: 20px;
  padding-right: 20px;
  border-radius: 10px;
  box-shadow:0px 0px 8px -2px rgba(0, 0, 0, 0.281);
}

.container-title {
  font-family: 'Rowdies', sans-serif;
  margin-left: 1rem;
  font-size: 3.6rem;
  color: #77050f;
}

nav .navbar-brand {
  display: none;
}

@media (max-width: 768px) {
  nav .navbar-brand {
    display: block;
  }
  .container-title {
    font-size: 1.7rem;
  }
}

.left{
  border-right:1px solid #ccc;
  width:45vw ;
}

.right{
  text-align:center;
  width:49vw;
} 

.line-break{
  width:70%;
}

.profile-image{
  width:40vw;
  height:50vh;
  margin-top:10vh;
}

@media screen and (max-width:1024px){
  .left{
    display:none;
  }
  .right{
    display:inline-block;
    width:100%;
    text-align:center;
  }
}

.status_input{
  display:inline-block;
  background-color: #ececec;
  margin-bottom:25px;
  border:none;
  padding:10px;
  width:60%;
  border-radius:7px;
  outline:none;
  margin:0 auto;
  height:4.5vh;
}

.add_btn{
  color:white;
  text-align:center;
  display:inline-block;
  min-width:15%;
  margin:0 auto;
  margin-top:2vh;
  font:inherit;
  text-decoration:none;
  padding:2px;
  border:0;
  border-radius: 30px;
  padding:10px;
  box-shadow:0px 0px 8px -2px rgba(0,0,0,0.42);
  /* box-shadow:-10px -10px 15px rgba(255, 255, 255, 0.55),
  10px 10px 15px rgba(70, 70, 70, 0.12); */
  outline: none !important;
  font-size:1em; 
  background-color:#833b41;
}
 
.add_btn:hover{
  background-color: #bb565e;
}
