
body{
  background-color: #e4e2e2;
}
 
 #wrapper {
   overflow-x: hidden;
 }

 .profile {
   margin-left: 1rem;
   margin-bottom: 3rem
 }

 .profile .image {
   height: 7rem;
   margin-top: 1rem;
   border-radius: 100%;
 }

 .avatar {
   height: 2rem;
 }

 .sidebar-heading{
   font-family:'Rowdies',sans-serif;
   color:white;
   font-size: 2.5em !important;
 }

 #sidebar-wrapper {
   min-height: 100vh;
   margin-left: -15rem;
   transition: margin .25s ease-out;
   background-color:#77050f;
 }

 #sidebar-wrapper .sidebar-heading {
   padding: 0.875rem 1.25rem;
   font-size: 1.2rem;
 }

 #sidebar-wrapper .list-group {
   width: 15rem;
 }

 #page-content-wrapper {
   min-width: 100vw;
 }

 #wrapper.toggled #sidebar-wrapper {
   margin-left: 0;
 }

 @media (min-width: 768px) {
   #sidebar-wrapper {
     margin-left: 0;
   }

   #page-content-wrapper {
     min-width: 0;
     width: 100%;
   }

   #wrapper.toggled #sidebar-wrapper {
     margin-left: -15rem;
   }
 }


 .dashboard-content{
   font-family: 'Open Sans',sans-serif;
   margin:0 auto;
   margin-top:5vh;
   padding:5vh 0vh;
   display:flex;
   background-color:white;
   border-radius:10px;
   min-height:80vh;
   width:80%;
   flex-direction:row;
   text-align:center;
 }

 .content-type{
   margin:none;
   padding:2vh 0vh;
   border-bottom:1px solid #e1f1ff;
   border-width:30%;
 }

 .content-type:last-child{
   border-bottom:none;
 }

 .welcome-heading{
  font-size: 2rem;
  letter-spacing:1px;
  font-family:'Rowdies',sans-serif;
 }

 .add_btn{
   margin-top:1vh;
 }


.list-group-item{
  background-color: #77050f
}

.list-group-item:hover{
  background-color:#7c131c
}
 