:root {
  --main_color: #663EFD;
  --text_color: #000000;
  --accent-color: #a6a6a6;
  --accent-dark-color: #848DA7;
}

footer {
  background-color:rgba(17, 15, 15, 0.726);
}

footer .logo {
  margin: 10px auto 0;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .logo img {
  height: 100%;  background-color: #d8bfd8;
  width: 100px;
}

footer .logo #aad {
  width: 80px;
}

footer .logo #digi {
  width: 120px;
}

.footer {
  text-align: left;
  width: 100%;
  padding: 20px 40px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
 /* color: var(--accent-dark-color);*/
  border-top: 1px solid pink;
  border-left: 1px solid pink;
  /*border-top: 1px solid #a6a6a649;*/
}

.footer b {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 500;
}

.footer label {
  display: block;
  margin-top: 20px;
  color:black;
  font-family: 'PT Sans', sans-serif;
}
 #_we {
  display: block;
  margin-top: 20px;
  color:white;
}
#_de {
  display: block;
  margin-top: 20px;
  color:white;
}

.footer input {
  border: 1px solid  purple;
  border-radius: 3px;
  height: 35px;
  width: 375px;
  max-width: 100%;
  padding: 10px;
  margin: 20px 0 0;
  color: var(--text_color);
  overflow: hidden;
  outline: none;
}

.footer textarea {
  border: 1px solid  purple;
  border-radius: 3px;
  width: 375px;
  max-width: 100%;
  padding: 10px;
  padding-right: 10px;
  margin: 10px 0;
  font-size: 14px;
  resize: none;
}

.footer button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 35px;
  width: 375px;
  max-width: 100%;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: rgb(97, 34, 199);
  border: 0.4px solid var(--main_color);
  color: #ffffff;
}

/*.footer button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: var(--main_color);
  border: 0.4px solid var(--main_color);
}*/

.footer a {
  display: block;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  font-size: 18px;
}

/*.footer a:hover {
  opacity: 0.5;
}*/

.footer .icons {
  margin-top: 20px;
  margin-right:150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer .icons a {
  display: inline;
  margin:10px;
}

.footer .icons img {
  width: 45px;
}

@media (max-width: 900px) {
  .footer textarea {
    float: left;
  }
  .footer input {
    float: left;
  }
  .footer button {
    float: left;
  }
  .footer {
    display: block;
    margin: auto;
    text-align: center;
  }
  .footer .sect + .sect {
    margin-top: 50px;
  }
  .footer .icons {
    display: inline-block;
  }
  .footer .icons img {
    width: 35px;
  }
  .footer .icons a + a {
    margin-left: 20px;
  }
}
/*# sourceMappingURL=footer.css.map */