.friend-box {
    background-image: linear-gradient(0deg, white 62%, #8f1c1c 38%);
    border-radius: 10px;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}

.friend-name {
    color: white;
}

.friend-box p {
    font-size: 1.5rem;
}

.friend-box img {
    border-radius: 50%;
}

@media (max-width: 540px) {
	.friend-name {
        text-align: center;
    }
    .friend-box img {
        display: none;
    }
    .status {
        font-size: 10px;
    }
}

