
/*================Header===================*/


header{
    background-color : #FFE74C;
    height : 100vh;
}

header nav a{
    margin-top:0.5em;
    font-weight: bold;
}

.navbar-brand{
    margin-right:75%;
}


header img.icon{
    display:block;
    padding-top:2%;
    margin:0 auto;
}

header h1{
    font-family: Cinzel;
    text-align:center;
    padding-top: 3%;
    font-size: 5em;

}


header hr{
    border: 0;
    border-bottom: 1px dashed;
    width:30%;
}

header p{
    font-size: 2em;
    font-family: Lobster,Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*================Features===================*/

.featurette-title {
    font-family: 'Rowdies', cursive;
    color: #fbd46d;
    text-align: center;
    padding-top: 3%;
}

.featurette {
    /* border: solid 1px #ebdc87;
    border-radius: 20px; */
    padding: 2rem;
    text-align: center;
    color: #fff;
}

.featurette-icon {
    margin: 1rem 0 1rem 0;
    color: #ffa36c;
}

.featurette-icon:hover {
    color: #ebdc87;
}

.featurette-heading {
    font-family: 'Rowdies', cursive;
    color: #fbd46d;
}

.featurette-text {
    font-family: 'PT Sans', sans-serif;
}

.featurette-button {
    margin-top: 5%;
}

/*==========================================*/