
/*================Header===================*/

header{
    background-color : #FFE74C;
    height : 100vh;
    background-image: url(../assets/images/header_cover.webp);
    background-position: center;
    background-size: cover;
}


header nav{
	background-color:rgba(255,255,255,0.8);
}

header nav a{
    margin-top:0.5em;
    font-weight: bold;
}

.navbar-brand{
	margin-right:68vw;
}

@media screen and (max-width:1350px)
{
	.navbar-brand{
		margin-right:61.5vw;
	}
}

@media screen and (max-width:600px)
{
	.navbar-brand{
		margin-right: 0.05vw;
	}
}

header div li{
	margin-left:10%;
	transition:color 1s;
}


@media screen and (max-width:1200px){
	header div li{
		margin-left:2%;
	}
	
}



header img.icon{
    display:block;
    padding-top:15vh;
	margin:0 auto;
	height:18rem;
}

header h1{
    font-family: Cinzel;
    text-align:center;
    font-size: 4.5rem;
	overflow:none;
	padding-top:1%;
}

header hr{
    border: 0;
    border-bottom: 1px dashed;
    width:30%;
}

header p{
    font-size: 2rem;
    font-family: 'Della Respira', serif;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (min-width:1300px){


	
	header img.icon{
		padding-top:20vh;
		height:50vh;
	}

	header h1{
		font-size:5rem;
	}

	header p{
		font-size:2rem;
	}

}


@media screen and (max-width:1280px){

	header img.icon{
		padding-top:16vh;
		height:45vh;
	}

	header h1{
		font-size:5rem;
	}

	header p 
	{
		font-size:1.5rem;
	}	
}

@media screen and (max-width:1048px){

	header img.icon{
		padding-top:25vh;
		height:48vh;
	}

	header h1{
		font-size:4rem;
	}

	header p 
	{
		font-size:1.5rem;
	}	
}

.navbar-brand{
	margin-right:59vw;
}


@media screen and (max-width:768px){

	header img.icon{
		padding-top:25vh;
		height:48vh;
	}

	header h1{
		font-size:3rem;
	}

	header p{
		font-size:1.2rem;
	}
}

@media screen and (max-width:480px){
	
	header img.icon{
		padding-top:28vh;
		height:46vh;
	}

	header h1{
		font-size:2.5rem;
	}
}


@media screen and (max-width:280px){

	.navbar-brand{
		margin-right:100vw;
	}
	
	header img.icon{
		padding-top:35vh;
		height:55vh;
	}

	header h1{
		padding-top:none;
		font-size:1rem;
	}

	header p{
		font-size:0.5rem;
	}

}












/*================Features===================*/

.feature-background {
    background-color: #810000;
}

.featurette-main-heading {
    font-size: 6.5rem;
}

@media (max-width: 768px) {
    .featurette-main-heading{
        font-size: 3.5rem;
    }
}

.featurette-title {
    font-family: 'Rowdies', cursive;
    color: #fbd46d;
    text-align: center;
    padding-top: 3%;
}

.featurette {
    /* border: solid 1px #ebdc87;
    border-radius: 20px; */
    padding: 2rem;
    text-align: center;
    color: #fff;
}

.featurette-icon {
    margin: 1rem 0 1rem 0;
	color: #ffa36c;
	transition: transform 2s;
}

.featurette-icon:hover {
	color: #ebdc87;
	transform: rotate(360deg);
}

.featurette-heading {
    font-family: 'Rowdies', cursive;
    color: #fbd46d;
}

.featurette-text {
    font-family: 'PT Sans', sans-serif;
}

.featurette-button {
    margin-top: 5%;
}

/*==================Testimonial===================*/

.testimonial {
    color: #810000;
}

.testimonial-background {
    background-color: #fbd46d;
    padding-top: 1%;
    padding-bottom: 1%;
}

.testimonial-container {
    padding-bottom: 2%;
}

.avatar {
    border-radius: 100%;
    width: 8rem;
}

.testimonials {
    padding-top: 3%;
    text-align: center;
}

.testimonial-text {
    padding: 2% 8% 2%;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .testimonial-text {
        padding: 2% 8% 2%;
        font-size: 1.4rem;
    }
    .avatar {
        width: 6rem;
    }
}

/*====================About========================*/

.about-background {
    background-color: #cf1b1b;
}

.about {
    color: #ffe78f;
}

.team-image {
    text-align: center;
}

.team-avatar {
	width: 12rem;
	transition: transform 0.4s;
}

.team-avatar:hover {
	transform: scale(1.12);
}

.about-title {
    padding-top: 3%;
    font-family: 'Rowdies', cursive;
    font-size: 2.6rem;
    font-weight: bolder;
    color: #ffe78f;
}

.about-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffe78f;
    font-family: 'PT Sans', sans-serif;
}
/*====================Footer==========================================*/

body {
	margin: 0;
	padding: 0;
}
.main {
	max-height: 550px;;
	background-color: #292c2f;
	color: white;
	font-size: 38pt;
	text-align: center;
	line-height: 550px;
}
footer{
	/* position: fixed; */
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	/* margin-top: 80px; */
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #5383d3;
	font: normal 36px Cinzel;
	margin: -30px;
	font-size: 50px;
}
.footer-distributed h3:hover {
	/* width: 300px;
	height: 300px; */
	transform: rotate(360deg);
	transition: width 2s, height 2s, transform 2s;
  }

.footer-distributed h3 span{
	color:  #5383d3;
	font-size: 50px;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	.footer-distributed .footer-center p{
		display: block;
		color: #ffffff;
		/* vertical-align: middle; */
		margin:0px;
	}
	.footer-distributed .footer-center #second{
		margin-top:5px;
	}
	.footer-distributed .footer-center #third{
		margin-top:5px;
	}


	.footer-distributed .footer-center i{
		margin-top:30px;

	}
	.footer-distributed h3:hover {
		/* width: 300px;
		height: 300px; */
		transform: rotate(360deg);
		transition: width 2s, height 2s, transform 2s;
	  }
	
	.main {
		line-height: normal;
		font-size: auto;
	}
	.footer-distributed h3{
		color:  #5383d3;
		font: normal 36px Cinzel;
		margin-top:5px;
	}
	.footer-distributed .footer-right{
		margin-top: 80px;
	}


}
