header {
    background-image: url("https://cdni.rbth.com/rbthmedia/images/all/2016/04/12/foodfest.jpg");
    background-color:#cccccc;
    width:96%;
    height:80vh;
    margin:2%;
    background-repeat:no-repeat;
    background-size : cover;
}

@font-face{
    font-family:Cinzel;
    src: url(/assets/Cinzel-Bold.ttf);
}


header h1 {
    padding-top:15%;
    font-family: Cinzel;
    font-weight:bold;
    color: #ffffff;
    text-align:center;
}