html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: yellow;
  background-position: center;
  background-size: cover;
}

.logo {
    height: 20vh;
}

@font-face {
	font-family: Cinzel;
	src: url(../assets/fonts/Cinzel-Regular.ttf);
}

.main-title {
    font-family: Cinzel, sans-serif;
    font-size: 3rem;
}

.button {
    background-color: #cf1b1b;
    color: white
}

.button:hover {
    background-color: tomato;
    color: white
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.checkbox-div {
  font-weight: 400;
  font-family: Cinzel;
  font-size: 1.1rem;
}

.form-signin .form-control {
  position: relative;
  /* box-sizing: border-box; */
  height: auto;
  padding: 10px;
  font-size: 16px;
  background-color: white;
}
.form-signin .form-control:focus {
  z-index: 2;
}