@font-face
{
    font-family : Poppins;
    src:url('../fonts/Poppins-regular.ttf')
}

*,
*.before,
.after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.todo{
    background-color:#ececec;
    font-family : 'Merriweather', sans-serif;
    font-size : 14px;
    font-weight : 600;
    letter-spacing:1.2px;
    display:block;
    justify-content:center;
    padding : 40px 20px;
    border-radius : 10px;
    margin-top:8vh;
    flex-direction:center;
    text-align:center;
    width:80%;
    min-height: 80vh;
    box-shadow:0px 0px 8px -2px rgba(0, 0, 0, 0.281);
}

@media screen and (max-width:920px){
    .todo{
        left:65%;
    }
}

@media screen and (max-width:767px){
    .todo{
        left:50%;
    }
}



.todo_heading{
    margin:10px;
    text-transform:uppercase;
    text-align:center;
}






.todo_errors{
    color:red;
    margin: 0px;
    font-family:'Merriweather',sans-serif;
}

.no-tasks{
    font-family:'Merriweather',sans-serif;
}



.task_input{
    display:inline-block;
    background-color: #ececec;
    margin-bottom:25px;
    border:none;
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.55),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
    padding:10px;
    width:60%;
    border-radius:7px;
    outline:none;
    margin:0 auto;
    height:4.5vh;
    margin-top:-2vh;
}



::placeholder{
    font-size: 12px;
    font-weight:500;
    color:#ababab;
    letter-spacing:1.3px;
    font-family:'Merriweather',sans-serif;
}

.add_btn{
    background-color: #ececec;
    text-align:center;
    display:inline-block;
    min-width:5%;
    margin:0 auto;
    margin-top:2vh;
    font:inherit;
    text-decoration:none;
    border:0;
    border-radius: 30px;
    padding:10px;
    box-shadow:0px 0px 8px -2px rgba(0,0,0,0.42);
    /* box-shadow:-10px -10px 15px rgba(255, 255, 255, 0.55),
    10px 10px 15px rgba(70, 70, 70, 0.12); */
    outline: none !important;
    font-size:1em;
 
}

.add_task{
    margin-top:-5vh;
}


.todo_table{
    width:100%;
    margin-top:2vh;
    border-collapse: collapse;
    font-family: 'Merriweather',sans-serif !important;
    text-align:center;
}

.todo_list tr{
    border-bottom : 1px solid #cbcbcb;
}

.todo_heading th{
    /* padding:15px 0px 15px 15px; */
    font-size: 20px;

}

.todo_list td{
    /* border:none; */
    height : 30px; 
    padding: 15px 0px;
    font-family:inherit;
}

.task_num{
    text-align:center;
}


tr:hover{
    background : #E9E9E9;
}

.task{
    text-align : center;
}

.delete_task{
    text-align:center;

}

.delete_task a{
    color:red;
    padding : 2px 6px;
    text-align:center;
    border-radius : 3px;
    text-decoration : none;
}

@media screen and (max-width:1024px){
    .todo_heading{
        font-size:4rem;
    }
}

@media screen and (max-width:768px){
    .todo_heading{
        font-size:3rem;
    }
    .task_input{
        display:block;
        height:6vh;
        width:80%;
    }
    .add_btn{
        min-width:20%;
    }
}



